@import "global.scss";
$smbg: #c256fc !default;

.nav-tenant {
  padding: 0;
  margin: 0;
  height: 100%;

  .sidebar {
    width: 20%;
    background: $sidebar-background-color;
    vertical-align: top;
    margin-top: 4px;
    .tree-classic {
      background: $sidebar-background-color;
      font-size: $title-size-default;
      padding: 0;
      li {
        position: relative;
        i {
          position: absolute;
          top: 18px;
          left: 30px;
          z-index: 100;
          width: 20px;
          height: 20px;
        }
        i.tree-branch-head {
          -webkit-background-size: 20px !important;
          background-size: 20px !important;
          background-position: 0px 0px !important;
        }
        div {
          display: block;
          width: 100%;
          height: 100%;
          padding-left: 60px;
          text-overflow: ellipsis;
          overflow: hidden;
          color: $font-color-default;
          font-family: MicrosoftYaHei;
        }
        div:hover {
          background: $sidebar-background-hover-color;
          color: $font-color-default;
          font-family: MicrosoftYaHei;
          .del-ten {
            display: inline-block;
          }
          .edit-ten {
            display: inline-block;
          }
        }
        div.tree-selected {
          background: $background-color;
          font-weight: normal;
          border-left: 4px solid $color-main;
        }
        padding: 0;
        line-height: 50px;
        ul {
          font-size: $font-size-default;
          background: $sidebar-background-color;
          li {
            div {
              padding-left: 90px !important;
            }
            i {
              left: 55px !important;
              top: 16px !important;
            }
            ul {
              li {
                div {
                  padding-left: 120px !important;
                }
                i {
                  left: 85px !important;
                  top: 18px !important;
                }
              }
            }
          }
        }
      }
      li.tree-expanded {
        i.tree-branch-head {
          background-image: url("../images/folder.png");
        }
      }
      li.tree-collapsed {
        i.tree-branch-head {
          background-image: url("../images/folder-closed.png");
        }
      }
      li.tree-leaf {
        i.tree-leaf-head {
          background: none;
        }
      }
    }
  }

  .main {
    width: 80%;
    margin-top: 55px;
    display: block;
    margin-left: 20%;
    .project-list {
      width: 100%;
      overflow: hidden;
      margin: 0;
      padding: 0;
      padding-bottom: 10px;
      > div {
        height: 160px;
        margin-top: 30px;

        > div {
          padding: 0px 15px;
          @include card;
          height: 160px;
          text-align: center;
          img {
            width: 60px;
            height: 60px;
            margin-top: 30px;
          }
          p {
            font-size: $title-size-default;
            margin-top: 15px;
          }
        }
        > div:hover {
          box-shadow: 0px 0px 4px 2px #dedede;
        }
      }
    }


  }


  :focus {
    outline: none;
  }
  .close-btn {
    margin-top: 8px;
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(../images/closenew2.png) no-repeat center;
    cursor: pointer;
  }

  .right-top {
    height: 40px;
    line-height: 40px;
    padding-left: 30px;
    font-size: $title-size-default;
    background: #FFFFFF;
    box-shadow: 0 1px 0 0 rgba(224,230,237,0.50);
  }
  .right-nav {
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    padding-left: 30px;
    li {
      width: 140px;
      height: 40px;
      text-align: center;
      padding-bottom: 0;
      float: left;
      cursor: pointer;
      @include tabs-default;
      span {
        display: inline-block;
        width: 100%;
        height: 40px;
        line-height: 40px;
      }
      &:hover {
        border-bottom: 2px solid #ccd5e0;
      }
    }
    li.active {
      @include tabs-active;
    }
  }
}

//资源报告显示
.tenant_main {
  display: -moz-box;
  display: -webkit-box;
  display: flex;
}
.tenant_block {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
.meunu-wrop ul {
  width: 417px;
}
.delbsi {
  float: right;
  color: $color-main;
  cursor: pointer;
}
.editSv {
  float: right;
  color: $color-main;
  cursor: pointer;
  margin-right: 15px;
}
.delbsi:hover {
  text-decoration: underline;
}
.editSv:hover {
  text-decoration: underline;
}
.add-myserve {
  height: 30px;
  line-height: 30px;
  margin-top: 20px !important;
  .use-num-wrop {
    width: 200px;
    border: 1px solid #ebebe9;
    .use-input {
      width: 168px;
      line-height: 30px;
      border: none;
      margin: 0;
      padding: 0;
    }
    .no-monetary {
      width: 198px;
      line-height: 30px;
      @include input-default;
      margin: 0;
      padding: {
        left: 8px;
        right: 8px;
      }
      &:focus {
        @include input-active;
      }
    }
    .monetary {
      width: 30px;
      height: 30px;
      line-height: 30px;
      background: #f7f7f7;
      border-left: 1px solid #ebebe9;
      display: inline-block;
      text-align: center;
    }
    input[disabled] {
      background: #ebebe9;
    }
  }
}

.add-instance {
  width: 90px;
  height: 30px;
  margin-left: 1em;
  line-height: 30px;
  text-align: center;
  @include button-default;
  color: $font-color-white;
  display: inline-block;
  cursor: pointer;
}
.add-instance:hover {
  color: #fff;
  @include button-hover;
}
.add-loading {
  width: 120px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #f39c12;
  color: #fff;
  display: inline-block;
  cursor: pointer;
  background: #f5b041;
  i {
    background: url(../images/loading.png) no-repeat;
    width: 16px;
    height: 16px;
    float: left;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: -20px;
    -webkit-animation: rotate 1s linear infinite;
    -moz-animation: rotate 1s linear infinite;
    animation: rotate 1s linear infinite;
  }
}
.sv-wrop {
  width: 100%;
  height: 300px;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  .sv-list {
    width: 260px;
    height: 60px;
    border: 1px solid #e7e7e7;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    img {
      width: 58px;
      height: 58px;
      float: left;
    }
    .sv-name {
      width: 200px;
      height: 58px;
      line-height: 58px;
      padding-left: 20px;
      float: left;
    }
  }
  .svActive {
    border: 1px solid #f39c12;
    div {
      background: #f3dd92;
    }
  }
  li:nth-child(3n) {
    margin-right: 0;
  }
}

// 新版租户管理样式: Ren Qingwei
.tenant_mainbody {
  height: 1500px;
  margin: 20px 20px 20px 20px;
  background: #ffffff;
  border: 1px solid #e0e6ed;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 0 4px 0 rgba(0, 0, 0, 0.04);
  border-radius: 2px;
}

.tenant_mainbody_head {
  margin: 20px 10px 10px 20px;
}

.tanant_profile_picture {
  float: left;
  height: 68px;
  width: 68px;
  background: #eff2f7;
  border: 1px solid #ccd5e0;
}

.tanant_profile_picture_content {
  font-size: 34px;
  margin-top: 17px;
  margin-left: 17px;
}

.tenant_content_title {
  font-family: MicrosoftYaHei-Bold;
  font-size: 14px;
  color: #202d3c;
  letter-spacing: 0;
}

.tanent_profile_info {
  margin-left: 85px;
}

.tenent_content_delete {
  background: #ffffff;
  border: 1px solid #ccd5e0;
  border-radius: 4px;
  float: right;
  margin-right: 15px;
}

.tenent_conent_describe_title {
  font-family: MicrosoftYaHei;
  font-size: 12px;
  color: #a2b0c4;
  letter-spacing: 0;
}

.tenent_conent_describe_content {
  font-family: MicrosoftYaHei;
  font-size: 12px;
  color: #1f2d3d;
  letter-spacing: 0;
}

.tanent_profile_line {
  margin-bottom: 6px;
}

.tenent_summary_note {
  margin: 0 5px 0 5px;
  background: #a2b0c4;
  border-radius: 4px;
}

.tenent_summary_note > span {
  font-family: MicrosoftYaHei;
  font-size: 10px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 14px;
  padding-left: 5px;
  padding-right: 5px;
}

.tenant_mainbody_body {
  margin-left: 20px;
  margin-right: 28px;

  .right-nav {
    overflow: hidden;
    
    padding: 0;
    margin-top: 15px;
    li {
      width: 78px;
      height: 34px;

      font-family: MicrosoftYaHei;
      font-size: 12px;
      color: #1f2d3d;
      letter-spacing: 0;
      line-height: 14px;

      text-align: center;
      padding-bottom: 0;
      float: left;
      cursor: pointer;
      span {
        display: inline-block;
        width: 63px;
        height: 14px;
        line-height: 40px;
      }
      &:hover {
        border-bottom: 2px solid #ccd5e0;
      }
    }
    li.active {
      font-family: MicrosoftYaHei;
      font-size: 12px;
      color: #47b2fb;
      letter-spacing: 0;
      line-height: 14px;
    }
  }

  

}

.addNewSubTanent {
  margin-top: 10px;
  border: 1px solid #47B2FB;
  border-radius: 4px;
  font-family: PingFangSC-Regular;
  span {
    font-size: 12px;
    color: #000000;
    letter-spacing: 0;
    line-height: 14px;
  }
}


.tenant_mainbody {

  .tenant_mainbody_head {
    .form-horizontal {
      span {
        font-family: MicrosoftYaHei;
        font-size: 12px;
        color: #475669;
        letter-spacing: 0;
        line-height: 14px;

        margin-left: 17px;
      }

      input {
        background: #FFFFFF;
        border: 1px solid #CCD5E0;
        border-radius: 4px;
      }

      .fixed-width {
        width: 320px;
      }

      .fixed-height {
        height: 26px;
      }

      .moveToLeft {
        margin-left: -20px;
        z-index: 9999;
      }
    }
  }
  .title {
    border-left: 2px solid #47B2FB;
    padding-left: 15px;
    font-family: MicrosoftYaHei-Bold;
    font-size: 12px;
    color: #1F2D3D;
    letter-spacing: 0;

    margin-bottom: 20px;
  }

  .content {
    .row {
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 17px;

      span {
        font-family: MicrosoftYaHei;
        font-size: 12px;
        color: #475669;
        letter-spacing: 0;
        line-height: 14px;
        float: left;
      }

      .userinput {
        margin-left: 50px;
      }
    }
  }

  .form-horizontal .control-label {
    text-align: left;
  }
}

.tanent_table {
  margin-top: 20px;
  margin-left: 0;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #CCD5E0;
  border-radius: 2px;
  thead {

    tr {
      background-color: #e6e9f1;
      line-height: 30px;

      th {
        text-align: center;
      }

    }
  }
  tbody {

    tr {
      line-height: 30px;
      border-top: 1px solid #E1E7EC;
      border-bottom: 1px solid #E1E7EC;

      td {
        text-align: center;

        a {
          font-family: MicrosoftYaHei;
          font-size: 12px;
          color: #47B2FB;
          letter-spacing: 0;
          line-height: 14px;
        }

      }
    }
    tr:hover {
      background-color: #E1E7EC;
    }

  }

  tfoot {
    tr {
      line-height: 30px;
    }

    .align-text-center {
      text-align: center;
    }

  }
}

.font-color {
  color: #47B2FB;
}

.normal-text {
  font-family: MicrosoftYaHei;
  font-size: 12px;
  color: #47B2FB;
  letter-spacing: 0;
}

#showinstancemngpageid {
  .service_choice_btn {
    background: #F9FAFC;
    border-radius: 4px;
    margin-right: 10px;

    span {
      font-family: MicrosoftYaHei;
      font-size: 12px;
      color: #475669;
      letter-spacing: 0;
      line-height: 14px;
    }
  }

  .selected {
    border: 1px solid #47B2FB;  
  }

  .notselected {
    border: 1px solid #CCD5E0;
  }

  .instance_card {
    background: #FFFFFF;
    border: 1px solid #E0E6ED;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 0 4px 0 rgba(0,0,0,0.04);
    border-radius: 4px;

    display: inline-block;
    width: 320px;
    height: 266px;

    margin-right: 31px;
    margin-top: 10px;
    margin-bottom: 10px;

    .notifystatus {
      width: 0px;
      height: 0px;
      border-radius: 50%;
      display: inline-block;
      margin-top: 3px;
      margin-right: 6px;
      float: right;
    }

    .online {
      border: 6px solid #00CF9B;
    }

    .offline {
      border: 6px solid #A2B0C4;
    }

    .cartcontent {
      height: 230px;
    }

    .instancePicture {
      display: inline-block;
      width: 48px;
      height: 48px;
      margin-left: 11px;
      margin-top: 11px;
      float:left;
    }

    .instanceHeader {
      margin-left: 70px;
      padding-top: 11px;

      .flaotToRight {
        margin-right: 20px;
        float: right; 
      }

      .visitInfo {
        font-family: MicrosoftYaHei;
        font-size: 12px;
        color: #47B2FB;
        letter-spacing: 0;
      }

      .updatedateinfo {
        font-family: MicrosoftYaHei;
        font-size: 12px;
        color: #A2B0C4;
        letter-spacing: 0;
      }

      .status {
        font-family: MicrosoftYaHei;
        font-size: 12px;
        color: #A2B0C4;
        letter-spacing: 0;
      }

      .title {
        font-family: MicrosoftYaHei;
        font-size: 12px;
        color: #1F2D3D;
        letter-spacing: 0;
      }

    }

    .cardbody {
      margin-left: 11px;
      padding-top: 11px;

      .service_item_row {
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .servieitem_name {
        font-family: MicrosoftYaHei;
        font-size: 12px;
        color: #A2B0C4;
        letter-spacing: 0;
        margin-right: 5px;
        
        display: inline-block;
        width: 80px;

      }

      .servieitem_value {
        font-family: MicrosoftYaHei;
        font-size: 12px;
        color: #475669;
        letter-spacing: 0;
        
        display: inline-block;
        width: 50px;

      }

      .serviceitem_percentage {
        font-family: MicrosoftYaHei;
        font-size: 12px;
        color: #475669;
        letter-spacing: 0;
        
        margin-left: 90px;
        display: inline-block;
        width: 10px;
      }

      .servieitem_usage {
        font-family: MicrosoftYaHei;
        font-size: 12px;
        color: #475669;
        letter-spacing: 0;
        
        margin-left: 5px;
        display: inline-block;
        width: 10px;

      }





    }

    .cardfooter {
      background: #F9FAFC;
      border-top: 1px solid #CCD5E0;
      height: 35px;

      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 0 4px 0 rgba(0,0,0,0.04);
      border-radius: 0 0 4px 4px;

      .cartbtn {
        width: 150px;
        display: inline-block;
        padding-top: 5px;
        height: 33px;
        text-align: center;
      }

      .spacecol {
        border-right: 1px solid #CCD5E0;
        display: inline;
        padding-top: 8px;
        padding-bottom: 11px;

      }
    }
  }

  .spaceline {
    border-top: 1px solid #CCD5E0;
    margin-left: 11px;
    margin-right: 11px;
    margin-top: 12px;
  }
}