<div class="row nav-tenant col-md-12">
  <div class="sidebar">
    <div treecontrol class="tree-classic" tree-model="dataForTheTree" options="treeOptions" on-selection="showSelected(node)"
      selected-node="selected">
      {{node.name}}
      <span class="ta-cd" ng-show="node.parentId">
        <span ng-click="edittenan($event, node)" class="glyphicon glyphicon-edit edit-ten" aria-hidden="true"></span>
        <span ng-click="deltenan($event, node)" class="glyphicon glyphicon-trash del-ten" aria-hidden="true"></span>
      </span>
    </div>
  </div>

  <div class="main">
    <div class="right-top">
      面包屑//todo
    </div>
    <div class="tenant_mainbody">
        <div ng-include="'views/tenantmng/tenantlist.html'"></div>
        <div ng-include="'views/tenantmng/addtenant.html'"></div>
        <div ng-include="'views/tenantmng/addtenantinfo.html'"></div>
    </div>
  </div>
</div>