<div ng-if=" currentPage === 'tenantlist.html' ">
    <div class="tenant_mainbody_head">
        <div class="tanant_profile_picture">
            <div class="tanant_profile_picture_content glyphicon glyphicon-user">
            </div>
        </div>

        <div class="tanent_profile_info">
            <div class="tanent_profile_line">
                <span class="tenant_content_title">拉萨市</span>
                <button class="tenent_content_delete">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>

            <div class="tanent_profile_line">
                <span class="tenent_conent_describe_title">描述信息：</span>
                <span class="tenent_conent_describe_content">拉萨市的描述信息......</span>
            </div>

            <div class="tanent_profile_line">
                <span class="tenent_conent_describe_title">创建时间：</span>
                <span class="tenent_conent_describe_content">2018-01-12 12:34</span>
                <span class="tenent_summary_note">
                    <span>子租户：13</span>
                </span>
                <span class="tenent_summary_note">
                    <span>实例：13</span>
                </span>
                <span class="tenent_summary_note">
                    <span>资源：13</span>
                </span>
                <span class="tenent_summary_note">
                    <span>工具：13</span>
                </span>
                <span class="tenent_summary_note">
                    <span>用户：13</span>
                </span>
            </div>

        </div>

    </div>

    <div class="tenant_mainbody_body">
        <ul class="right-nav">
            <li ng-class=" {true:'active'}[tanentListPageData.currentTab === 'tanentlist'] " ng-click=" tanentListPageData.currentTab = 'tanentlist' ">
                <span>租户列表</span>
            </li>
            <li ng-class=" {true:'active'}[tanentListPageData.currentTab === 'instantmng'] " ng-click=" tanentListPageData.currentTab = 'instantmng' ">
                <span>实例管理</span>
            </li>
            <li ng-class=" {true:'active'}[tanentListPageData.currentTab === 'resourcemng'] " ng-click=" tanentListPageData.currentTab = 'resourcemng' ">
                <span>资源管理</span>
            </li>
            <li ng-class=" {true:'active'}[tanentListPageData.currentTab === 'toolmng'] " ng-click=" tanentListPageData.currentTab = 'toolmng' ">
                <span>工具管理</span>
            </li>
            <li ng-class=" {true:'active'}[tanentListPageData.currentTab === 'userauth'] " ng-click=" tanentListPageData.currentTab = 'userauth' ">
                <span>用户授权</span>
            </li>
        </ul>

        <div>
            <div ng-if="tanentListPageData.currentTab === 'tanentlist'" ng-include=" 'views/tenantmng/showtenantlist.html' "></div>
            <div ng-if="tanentListPageData.currentTab === 'instantmng'" ng-include=" 'views/tenantmng/showinstantmng.html' "></div>
            <div ng-if="tanentListPageData.currentTab === 'resourcemng'" ng-include=" 'views/tenantmng/showresourcemng.html' "></div>
            <div ng-if="tanentListPageData.currentTab === 'toolmng'" ng-include=" 'views/tenantmng/showtoolmng.html' "></div>
            <div ng-if="tanentListPageData.currentTab === 'userauth'" ng-include=" 'views/tenantmng/showuserauth.html' "></div>
        </div>
        
    </div>
</div>